---
// Redirect /the-horn/ to /the-horn/about
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/the-horn/about" />
    <link rel="canonical" href="/the-horn/about" />
    <title>The Horn</title>
  </head>
  <body>
    <p>Redirecting to <a href="/the-horn/about">The Horn</a>...</p>
  </body>
</html>
