---
// Redirect /the-mane/ to /the-mane/about
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/the-mane/about" />
    <link rel="canonical" href="/the-mane/about" />
    <title>The Mane</title>
  </head>
  <body>
    <p>Redirecting to <a href="/the-mane/about">The Mane</a>...</p>
  </body>
</html>
